auto lo
iface lo inet loopback

{% for iface in ipv4.interfaces %}
{% if iface.address_type != 'manual' %}
auto {{ iface.name }}
{% endif %}
iface {{ iface.name }} inet {{ iface.address_type }}
{% if iface.address_type == 'static' %}
    address {{ iface.network_address }}
    gateway {{ iface.gateway }}
{% endif %}
{% endfor %}

{% for bridge in ipv4.bridges %}
{% if bridge.address_type != 'manual' %}
auto {{ bridge.name }}
{% endif %}
iface {{ bridge.name }} inet {{ bridge.address_type }}
{% if bridge.address_type == 'static' %}
    address {{ bridge.network_address }}
    gateway {{ bridge.gateway }}
{% endif %}
    bridge-ports {{ bridge.bridge_ports | join(' ') }}
    bridge-stp off
    bridge-fd 0
{% if bridge.vlan_aware | default(false) %}
    bridge-vlan-aware yes
{% if bridge.bridge_vids %}
    bridge-vids {{ bridge.bridge_vids }}
{% endif %}
{% endif %}
{% endfor %}

# DNS-Konfiguration (global)
dns-nameservers {{ ipv4.dns_nameserver }}
dns-search {{ ipv4.dns_search_domain }}

source /etc/network/interfaces.d/*
