auto lo
iface lo inet loopback

{% if ipv4.iface.address_type != 'manual' %}
auto {{ ipv4.iface.name }}
{% endif %}
iface {{ ipv4.iface.name }} inet {{ ipv4.iface.address_type }}
{% if ipv4.iface.address_type == 'static' %}
        address {{ ipv4.iface.network_address }}
        gateway {{ ipv4.iface.gateway }}
{% endif %}

{% if ipv4.bridge.address_type != 'manual' %}
auto {{ ipv4.bridge.name }}
{% endif %}
iface {{ ipv4.bridge.name }} inet {{ ipv4.bridge.address_type }}
{% if ipv4.bridge.address_type == 'static' %}
        address {{ ipv4.bridge.network_address }}
        gateway {{ ipv4.bridge.gateway }}
        bridge-ports {{ ipv4.iface.name }}
        bridge-stp off
        bridge-fd 0
        bridge-vlan-aware yes
        bridge-vids 2-4094
{% endif %}

source /etc/network/interfaces.d/*